---
import Card from "@/main/Card.astro"
import CardCarousel from "@/main/cardCarousel.astro"
import Accordion from "@/main/Accordion.astro"
import Footer from "@/Footer.astro"
import Navbar from "@/navbar.astro"

import Layout from '../layouts/Layout.astro';

---
<Layout title="Welcome to Astro.">
	<main>
		
		<Navbar/>
		<Card/>
		<CardCarousel/>
		<Footer/>	
		<Accordion/>
  
	</main>
</Layout>


